<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">


    <!-- Servlets -->
    
  <!-- Operators -->
  <servlet>
    <servlet-name>ServerOperatorImpl</servlet-name>
    <servlet-class>dk.dtu.cdiofinal.server.ServerOperatorImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServerOperatorImpl</servlet-name>
    <url-pattern>/g11_cdiofinal/OperatorService</url-pattern>
  </servlet-mapping>
  
    <!-- LOGGIN HANDLING -->
  <servlet>
  	<servlet-name>ServerMenuImpl</servlet-name>
  	<servlet-class>dk.dtu.cdiofinal.server.ServerMenuImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>ServerMenuImpl</servlet-name>
      <url-pattern>/g11_cdiofinal/MenuService</url-pattern>
  </servlet-mapping>

      <!-- Ingredients -->
  <servlet>
  	<servlet-name>ServerIngredientImpl</servlet-name>
  	<servlet-class>dk.dtu.cdiofinal.server.ServerIngredientImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>ServerIngredientImpl</servlet-name>
      <url-pattern>/g11_cdiofinal/IngredientService</url-pattern>
  </servlet-mapping>
  
      <!-- IngredientBatch -->
  <servlet>
  	<servlet-name>ServerIngredientBatchImpl</servlet-name>
  	<servlet-class>dk.dtu.cdiofinal.server.ServerIngredientBatchImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>ServerIngredientBatchImpl</servlet-name>
      <url-pattern>/g11_cdiofinal/IngredientBatchService</url-pattern>
  </servlet-mapping>
  
        <!-- ProductBatch -->
  <servlet>
  	<servlet-name>ServerProductBatchImpl</servlet-name>
  	<servlet-class>dk.dtu.cdiofinal.server.ServerProductBatchImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>ServerProductBatchImpl</servlet-name>
      <url-pattern>/g11_cdiofinal/ProductBatchService</url-pattern>
  </servlet-mapping>
  
          <!-- Recipe -->
  <servlet>
  	<servlet-name>ServerRecipeImpl</servlet-name>
  	<servlet-class>dk.dtu.cdiofinal.server.ServerRecipeImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>ServerRecipeImpl</servlet-name>
      <url-pattern>/g11_cdiofinal/RecipeService</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>G11_CDIOFinal.html</welcome-file>
  </welcome-file-list>

</web-app>
